
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(210, 234, 247);
}
#app>pre{
    height: 35vh;
    width:100%;
    font-size: 16px;
    font-weight: normal;
    overflow: auto;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}


