* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(210, 234, 247);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.doraemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.face {
    height: 230px;
    width: 230px;
    border: 2px solid black;
    background: rgb(53, 161, 201);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.face>.head {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    z-index: 1;
}

.face>.head>.mouth {
    width: 170px;
    height: 85px;
    border-radius: 0 0 170px 170px;
    transform: translateY(100px) translateX(14px);
    background: rgb(177, 22, 53);
    position: relative;
    overflow: hidden;
}

.face>.head>.mouth>.tongueLeft {
    width: 50px;
    height: 30px;
    border-radius: 50px 50px 0px 0px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 14px;
    left: 31px;
    background: rgb(202, 37, 51);
}

.face>.head>.mouth>.tongueRight {
    width: 50px;
    height: 30px;
    border-radius: 50px 50px 0px 0px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 14px;
    right: 32px;
    background: rgb(202, 37, 51);
}

.face>.head>.mouth>.tongueMid {
    position: absolute;
    width: 43px;
    height: 43px;
    bottom: -14px;
    right: 65px;
    border-radius: 0 0 50px;
    transform: rotate(45deg);
    background: rgb(202, 37, 51);
}

.face>.head>.upper {
    position: relative;
    display: flex;
    justify-content: center;
}

.face>.head>.upper>.nose {
    height: 35px;
    width: 35px;
    top: 45px;
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    background: rgb(177, 23, 53);
}

.face>.head>.upper>.nose>.noseWhite {
    height: 10px;
    width: 10px;
    transform: translateX(6px) translateY(4px);
    border-radius: 50%;
    background: white;
}

.face>.head>.upper>.nose>.noseWhite::before {
    content: "";
    display: block;
    border-left: 2px solid black;
    height: 23px;
    transform: translateX(9px) translateY(28px);
}


.face>.head>.upper>.beardLeft {
    position: absolute;
    width: 70px;
    border-bottom: 3px solid black;
    transform: translateY(70px) translateX(-55px);
}

.face>.head>.upper>.beardLeft::before {
    content: "";
    display: block;
    width: 70px;
    border-bottom: 3px solid black;
    transform: rotate(21deg) translateY(-20px) translateX(-7px);
}

.face>.head>.upper>.beardLeft::after {
    content: "";
    display: block;
    width: 81px;
    border-bottom: 3px solid black;
    transform: rotate(-9deg) translateY(14px) translateX(-11px);
}

.face>.head>.upper>.beardRight {
    position: absolute;
    width: 70px;
    border-bottom: 3px solid black;
    transform: translateY(70px) translateX(55px);
}

.face>.head>.upper>.beardRight::before {
    content: "";
    display: block;
    width: 70px;
    border-bottom: 3px solid black;
    transform: rotate(-21deg) translateY(-20px) translateX(7px);
}

.face>.head>.upper>.beardRight::after {
    content: "";
    display: block;
    width: 81px;
    border-bottom: 3px solid black;
    transform: rotate(9deg) translateY(14px) translateX(2px);
}

.face>.head>.upper>.leftEye {
    position: absolute;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1.5px solid black;
    transform: translateX(-25px) translateY(-1px);
    background: white;
}

.face>.head>.upper>.leftEye>.eye1 {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    background: black;
    transform: rotate(45deg) translateX(30px) translateY(-10px);
    border-radius: 11px 28px 11px;
    position: relative;
}
.face>.head>.upper>.leftEye>.eye1::before{
    content:"";
    display: block;
    height: 5px;
    width: 5px;
    position: absolute;
    top:7px;
    left: 4px;
    border-radius: 3px 10px 3px;
    background:white;
}

.face>.head>.upper>.rightEye {
    position: absolute;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1.5px solid black;
    transform: translateX(25px) translateY(-1px);
    background: white;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
.face>.head>.upper>.rightEye>.eye2{
    height: 20px;
    width:20px;
    border-radius: 50%;
    border:2px solid black;
    transform: translateY(25px);
}

.body{
    height: 150px;
    width:150px;
    border-radius: 50px 50px 120px 120px;
    border:2px solid black;
    transform: translateY(-50px);
    background:rgb(53, 161, 201);
}
.body>.armLeft{
    transform: translateY(-44px) translateX(-43px)  rotate(-26deg);
    height: 100px;
    width: 100px;
    border:2px solid black;
    background: rgb(53, 161, 201);
    border-radius: 0 70px 20px 70px;
}
.body>.armRight{
    transform: translateY(-142px) translateX(84px)  rotate(-58deg);
    height: 100px;
    width: 100px;
    border:2px solid black;
    background: rgb(53, 161, 201);
    border-radius: 0 70px 20px 70px;
}
.body>.armLeft::before{
    content:"";
    display: block;
    height: 60px;
    width: 60px;
    border:2px solid black;
    border-radius: 50%;
    background:white;
    transform: translateX(-15px) translateY(-20px);
}
.body>.armRight::after{
    content:"";
    display: block;
    height: 60px;
    width: 60px;
    border:2px solid black;
    border-radius: 50%;
    background:white;
    transform: translateX(63px) translateY(54px);
}
.body>.pocket{
    position: absolute;
    height: 60px;
    width: 100px;
    top: 55px;
    left: 25px;
    background:white;
    border-radius: 50%/50%;
}
.foot{
    transform: translateY(-60px);
    height: 100px;
    border:1px solid red;
    overflow: hidden;
    display: flex;

}
.foot >.footLeft{
    width: 60px;
    height: 100px;
    border:2px solid black;
    background:white;
    border-radius: 50%/50%;
    transform: translateX(5px) translateY(-50px);
}
.foot >.footRight{
    width: 60px;
    height: 100px;
    border:2px solid black;
    background:white;
    border-radius: 50%/50%;
    overflow: hidden;
}
/*
  width: 250px;
  height: 150px;
  margin: 50px;
  background: #FFD900;
  border-radius: 50% / 50%;
*/